html {
	font-family: arial;
	background-color: black;
}
h1 {
	font-family: ;
	font-size: 36px;
	color: white;
}
h2 {
	font-size: 24px;
	color: white;
}
i {
	color: grey;
}
strong {
	color: grey;
}
p{
	color: white;
}