html{
	background-color: black;
}
body{
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.25em;
	color: white;
	font-size: 18px;
	font-style: bold;
	background-image: url(http://images.fanpop.com/images/image_uploads/Blink-blink-182-711238_500_375.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
}
h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 36px;
	color: #912121;
	text-decoration: underline;
}
h2 {
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
	color: white;
}
i {
	color: #686868;
}
strong {
	color: #b7b5b5;
}
p {
	color: #d6d6d6;
	font-style: bold;
}
.title{
	color: #353535;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}
.verse{
	color: #912121;
	font-size: 18px;
}
.break{
	font-style: italic;
	color: #686868;
	font-size: 14px;
}